.main-layout {
//   display: grid;
//   grid-template-columns: 1fr;
        > * {
            grid-column: 2 / span 1;
        }
        &.homepage-section> :nth-child(1) {
            grid-column: 1 / -1;
        }
        &.homepage-section> :not(:nth-child(1)) {
            grid-column:  2 / span 1;
        }

        @include for-normal-layout {
            display: grid;
            grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, 1000px)
            minmax(2rem, 1fr);
        }
    
}
