
// COLOR PALETTE

$clr1:snow;
$clr2: rgb(70, 198, 202);
$clr3:rgb(80, 80, 80);
$clr4: rgb(70, 198, 202);
$clr5: rgb(30, 30, 30);

// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;


