
// COLOR PALETTE

$clr1:snow;
$clr2: #ebabab;
$clr3:rgb(80, 80, 80);
$clr4: #f0decb;
$clr5: rgb(30, 30, 30);

// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;


