
.main-footer {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    border-top: 1px solid #DDDDDD !important; 
    justify-content: space-evenly;
    background-color: rgb(236, 236, 236);
    padding-left: 10px;
    }

    .social {
        width: 100px;
    justify-content: space-evenly;
    }

    .footer-money {
        margin-left: 10px;
    }

    // .facebook {
    //     margin-left: 10px;
    // }

    // .instagram {
    //     margin-left: 5px;
    //     margin-right: 5px;
    //     padding-left: 10px;
    // }

    // .twitter {
        
    //     padding-right: 10px;
    // }