
.main-footer {
    // padding-top: 24px !important;
    // padding-bottom: 24px !important;
    border-top: 1px solid #DDDDDD !important; 
    justify-content: space-evenly;
    background-color: rgb(236, 236, 236);
    // padding-left: 10px;
    // height: 3rem;
    // position: static;
    align-items: center;
    position: absolute;
    // bottom: 0;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    }

.footer-lang {
        font-weight: 550 !important;
        text-decoration: underline !important;
        color: $clr7;
    }

.social {
        width: 100px;
        justify-content: space-evenly;
        fill: currentcolor;
        color: $clr7;
    }

.footer-money {
        margin-left: 10px;
    }

    // .facebook {
    //     margin-left: 10px;
    // }

    // .instagram {
    //     margin-left: 5px;
    //     margin-right: 5px;
    //     padding-left: 10px;
    // }

    // .twitter {
        
    //     padding-right: 10px;
    // }