.main-header {
    justify-content: space-between;
    color: rgb(70, 198, 202);
    // border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

.navbar-container {
    height: 3rem;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1rem;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.2rem !important;
    color: $clr1;
}

.logo {
    justify-content: left;
    font-size: 1.8rem;
    font-weight: bold;
}

.logo-navbar {
    flex-direction: column;
}

.nav-routes {
    justify-content: flex-end;
    align-self: center;
    color: rgb(238, 231, 231);
}

.houses-navbar {
    padding: 10px;
}

.host-navbar {
    padding: 10px;
}

.login-btn {
    padding: 10px;
    cursor: pointer;
}