.main-header {
  transition: 120ms;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: $headerHeight;
  .inner-container {
    height: $headerHeight;
    margin: 0 $mobilePadding;
    @include for-normal-layout {
      margin: 0;
    }
  }
  &.anchor-in {
    background-color: rgba($color: $clr1, $alpha: 1);

    .head-logo-svg,
    .head-logo-txt {
      fill: $clr2;
      color: $clr2;
    }

    a.host-navbar,
    a.houses-navbar {
      color: $clr5;
    }
    
  }
  .head-logo-svg {
    height: $headerHeight * 0.5;
    width: $headerHeight * 0.5;
    fill: $clr1;
  }

  .profile-pic {
    color: #717171 !important;
    -webkit-flex: 0 0 30px !important;
    -ms-flex: 0 0 30px !important;
    flex: 0 0 30px !important;
    height: 30px !important;
    margin-left: 8px !important;
    position: relative !important;
    z-index: 1 !important;
    align-self: center;
  }

  .profile-img {
    width: 100%;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 16px;
  }

  .notifications {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: #F02849;
    padding: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: snow;
    border: 1px solid black;
    font-size: 0.7rem;
  }

  .hamburger {
    display: block;
    fill: none;
    height: 16px;
    width: 16px;
    stroke: currentcolor;
    stroke-width: 3;
    overflow: visible;
    transition: transform 0.3s;
  }

  .home-header {
    background-color: transparent !important;
    color: rgb(230, 227, 227) !important;
  }

  .head-logo-txt {
    display: none;
    @include for-normal-layout {
      display: block;
    }
    font-size: 1.5rem;
    font-family: 'Karla', sans-serif;
    font-stretch: extra-condensed;
    margin-left: 8px;
    font-weight: bolder;
    color: $clr1;
  }

  .logo-navbar {
    flex-direction: column;
  }

  .navbar-container {
    height: 3rem;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: $clr2;

    .nav-routes {
      color: $clr7;
      font-size: 14px;
      font-weight: 550 !important;
      align-items: center;
      color: $clr1;
    }

    .houses-navbar,
    .host-navbar {
      display: none;

      @include for-normal-layout {
        display: block;
      }

      transition: 120ms;
      padding: 10px;
      border-radius: 15px;

      &:hover {
        background-color: $clr4;
      }
    }

    .el-dropdown-link-container {
      margin-left: 5px;
    }

    .el-dropdown-link {
      color: $clr5;
      height: $headerHeight * 0.7;
      padding: 9px;
      cursor: pointer;
      background-color: $clr1;

      font-family: Avenir, Helvetica, Arial, sans-serif;
      font-size: 1.2rem !important;
      width: max-content;
      border: 1px solid rgba($color: #dadada, $alpha: 1);
      border-radius: 100px;
      align-items: center;

      svg {
        fill: $clr5;
        stroke: $clr5;
      }

      &:hover {
        box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.103);
        border-radius: 21px;
      }
    }

    .el-icon-arrow-down {
      display: none;
    }

    .el-dropdown-menu {
      background-color: $clr1;
    }
  }
}

.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: $clr4;
  color: $clr2;
}

.houses-nav-mobile,
.host-nav-mobile {
  display: block;
  @include for-normal-layout {
    display: none;
  }
}

.hamburger-dropdown {
  background-color: $clr1;

  li {
    color: $clr5;
  }
}

.hamburger-logo-trans {
  transform: rotate(90deg);
}