.booking-modal-section {
    position: absolute;
    z-index: 5;
    top: 17%;
    right: 0;
    max-width: 300px;
    flex-direction: column;
    gap: 20px;
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    background-color: $clr1;
    // position: sticky;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 0;
    margin-right: initial;
    // top: 92px;
    // margin-left: 485px;

    span.fill-parent{
        border-radius: 4px;
        background-color: #FFF;
        padding: 3px 10px;
        border: 1px solid #DCDFE6;
        color: #a7a8a8;
        outline: 0;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        font-family: Avenir, Helvetica, Arial, sans-serif;
        font-size: 0.9rem;
        max-height: 40px;
        
        label {
            color: $clr3;
        }
    }

    .booking-modal-container {
        flex-direction: column;

        button {
            background-color: rgb(70, 198, 202);
            color: snow;
            padding: 15px;
            border-radius: 8px;
        }

        div:last-of-type {
            margin-bottom: 15px;
        }

    }

    .dates-taken-msg {
        margin-top: 8px;
        text-align: center;
    }

    .booking-modal-header {
        justify-content: space-between;

        .pricePN {
            font-weight: bold;
        }
    }

    .total-section ul {
        padding-bottom: 15px;
        margin-top: 20px;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid lightgray;

        li {
            display: flex;
            justify-content: space-between;

            .total-first-col {
                text-decoration: underline;
            }
        }
    }

    .total-section {
        .total-last-row {
            padding-top: 10px;
            justify-content: space-between;
            font-weight: bold;
        }
    }
}

.form-item {
    label {
        margin-right: 6px;
        margin-top: 8px;
    }
}

.booking-modal-section .booking-modal-container div:last-of-type {
    width: 255px;
    margin-top: 5px;
}

.el-input-number__decrease.is-disabled, .el-input-number__increase.is-disabled {
    margin-top: 5px;
}

.el-input-number__increase {
    margin-top: 5px;
}