.booking-modal-section {

  max-width: 100%;
  flex-direction: column;
  gap: 20px;
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  background-color: $clr1;
  // margin-left: auto;
  // margin-top: auto;
  // margin-bottom: 0;
  // margin-right: initial;
  color: $clr5;

  @include for-normal-layout {
    height: 50%;
    position: sticky;
    top: 70px;
    right: 0;
    z-index: 5;
    width: 260px;
  }

  @include for-wide-layout {
    width: 300px;
  }


  span.fill-parent {
    border-radius: 4px;
    background-color: #fff;
    padding: 3px 10px;
    border: 1px solid #dcdfe6;
    color: #a7a8a8;
    outline: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    max-height: 40px;

    label {
      color: $clr3;
    }
  }

  .booking-modal-container {
    flex-direction: column;

    .guests-input-container {
      display: flex;
      align-items: center;

      label {
        margin-right: 6px;
        margin-bottom: 8px;
      }

      @include for-normal-layout {
        display: block
      }
    }


    button {
      padding: 15px 45px;
      margin-right: auto;
      margin-left: auto;
      color: $clr1;
      background-color: $clr2;
      border-radius: 8px;
      transition: 0.3s;

      // @include for-normal-layout {
      //   padding: 15px;
      // }

      &:hover {
        background-color: white;
        color: $clr3;
        border-radius: 8px;
        border-color: $clr2;
      }
    }

    div:last-of-type {
      margin-bottom: 15px;
    }
  }

  .dates-taken-msg {
    margin-top: 8px;
    text-align: center;
  }

  .booking-modal-header {
    justify-content: space-between;

    .pricePN {
      font-weight: bold;
    }
  }

  .total-section ul {
    padding-bottom: 15px;
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid lightgray;

    li {
      display: flex;
      justify-content: space-between;

      .total-first-col {
        text-decoration: underline;
      }
    }
  }

  .total-section {
    .total-last-row {
      padding-top: 10px;
      justify-content: space-between;
      font-weight: bold;
    }
  }

  .form-item {
    label {
      margin-right: 6px;
      margin-top: 8px;
    }
  }

  .booking-modal-container div:last-of-type {
    width: 255px;
    margin-top: 5px;

    @include for-normal-layout {
      width: 210px;
    }

    @include for-wide-layout {
      width: 255px;
    }
  }

  .el-input-number__decrease.is-disabled,
  .el-input-number__increase.is-disabled {
    margin-top: 5px;
  }

  .el-input-number__increase {
    margin-top: 5px;
  }
}

div.el-picker-panel.el-date-range-picker.el-popper.date-picker-popper {
  @include for-mobile-layout {
    left: 0 !important;
    width: 200vw;
  }
}

div.el-picker-panel__body {
  display: flex;
  flex-direction: column;

  @include for-normal-layout {
    display: unset;
  }
}