.house-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  img {
    border-radius: 10px;
    margin-bottom: 0.5rem;;
  }
  > * {
    grid-column: span 1;
  }
}

.main-header {
  grid-column-start: 1;
  grid-column-end: -1;
}
