
.house-app {
  margin-top: 90px;
}

.main-header {
    padding: 20px;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // position: sticky;
    // top: 0;
}

.house-list {
  gap: 10px;
  margin-bottom: 20px;
}

.house-card {
  flex-direction: column;
  font-family: Montserrat;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(172, 172, 172, 0.2), 0 6px 20px 0 rgba(187, 187, 187, 0.19);
  border-radius: 10px;
}

.house-card-container {
  width: 100%;
  height: 100%;

  h3 {
    padding: 5px;
  }
  h4 {
    padding: 5px;
  }
}
.el-carousel-img {
  .img {
    display: block !important;
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 1 !important
  }
  button {
    width: 15px;
  }
}

.head-title {
    flex-direction: column;
    padding: 20px 0;
}

.head-title-visits {
    align-self: start;
}
.head-title-txt {
    align-self: start;
    color: #4d4d4d;
}

.el-pagination {
  display: flex;
  background-color: #fffafa;
  text-align: center;
  flex-direction: row;
  button:disabled {
    background-color: #fffafa;
  }
  
  .el-pager {
    display: flex;
  }
  .el-pager li {
    display: flex;
    background-color: #fffafa;
    width: 32px;
    height: 32px;
    margin: 0px;
    margin-left: 8px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
      &:hover {
        background-color: $clr4;
        color: $clr5;
        border-radius: 50%;
        transition: -ms-transform 0.25s ease,-webkit-transform 0.25s ease,transform 0.25s ease;
        color: #222222;
      }
      &.active {
        border-radius: 50%;
        background: #222222;
        color: #FFFFFF;

      }
      
    }
}
.under-paging-txt-head {
  display: block;
  font-size: 1rem;
  line-height: 18px;
  font-weight: 400;
  color: $clr5; 
  margin: 0 0 30px;
  width: 50%;
  margin-top: 10px;  
}

.under-paging-txt-bottom {
  font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 400;
    color: $clr3;  
    text-align: center;
    margin: 0 0 32px;
}