* {box-sizing:border-box}
.main-header {
    padding: 20px;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // position: sticky;
    // top: 0;
}

.house-card {
  height: 400px;
}

.house-card-container {
  width: 100%;
  height: 100%;
}
.el-carousel-img {
  
  .img {
    display: block !important;
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 1 !important
  }
}

.head-title {
    flex-direction: column;
    padding: 20px;
}

.head-title-visits {
    align-self: start;
}
.head-title-txt {
    align-self: start;
}

.house-filter-container {
    justify-content: center;
}

.house-card {
  flex-direction: column;
  font-family: Montserrat;

}



