.house-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px 15px;
  img {
    border-radius: 10px;
    margin-bottom: 0.5rem;
    // object-fit: cover;
    cursor: pointer;
  }
  > * {
    grid-column: span 1;
  }
}

.main-header {
  grid-column-start: 1;
  grid-column-end: -1;
}
