.house-price {
    font: icon;
}

.fa-star {
    color: rgb(70, 198, 202);
}

.el-carousel__arrow {
    background-color: rgba(236, 236, 236, 0.473);
}
.el-carousel__arrow:hover {
    background-color: rgba(228, 228, 228, 0.829);
}