.header-scroll-pixel {
  position: absolute;
  visibility: hidden;
  width: 20px;
  height: 20px;
  z-index: 1000;
  opacity: 0;
  left: 0;
  top: 50px;
}
body.anchor-in {
  .house-filter-container {
    height: $headerHeight * 0.7;
    top: $headerHeight * 0.15;
    position: fixed;
    max-width: 400px;
    box-shadow: none;
    transition: 150ms ease-in-out;
    .filter-screen {
      text-align: left;
      display: block;
      padding: 0 0 0 1rem;
      color: $clr5;
      font-size: 0.9rem;
      font-weight: bold;
      background-color: $clr1;
      position: absolute;
      z-index: 101;
      border-radius: 200px;
      line-height: $headerHeight * 0.7;
    }
    .submit button {
      transition: 150ms ease-in-out;
      width: $headerHeight * 0.5;
      height: $headerHeight * 0.5;
    }
    &:hover {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
    }
    &:focus-within {
      height: $headerHeight;
      top: $headerHeight;
      max-width: 800px;
      .filter-screen {
        display: none;
      }
      .submit button {
        width: $headerHeight * 0.75;
        height: $headerHeight * 0.75;
      }
    }
  }
}

.house-filter-container {
  border: 1px solid rgba($color: #dadada, $alpha: 1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
  transition: 150ms ease-in-out;
  z-index: 100;
  position: absolute;
  height: $headerHeight;
  top: 150px;
  left: 0;
  right: 0;
  background-color: $clr1;
  border-radius: 200px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  .filter-screen {
    display: none;
  }
  * {
    outline: none;
    border: none;
    background-color: rgba($color: #000000, $alpha: 0);
  }

  .form-item {
    flex-direction: column;
    border-radius: 100px;
    transition: 200ms;
    &.field {
      padding: 10px 15px 10px 25px;
      width: 33%;
      &:hover,
      &:active,
      &:focus-within {
        box-shadow: 0px 0px 10px 0px rgba($color: #000000, $alpha: 0.2);
      }
      * {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        padding: 0;
      }
      label {
        color: $clr5;
        font-size: 0.75rem;
        font-weight: bold;
      }
      :not(label):not(.el-input__icon):not(.el-range-separator):not(.el-input__suffix) {
        height: 1.2rem;
        color: $clr3;
        font-size: 1rem;
        background-color: $clr1;
      }
      i {
        display: flex;
        align-items: center;
      }
      .date-picker {
        width: 100%;
        .el-range-input {
          width: 50%;
          cursor: pointer;
          text-align: left;
        }
        .el-range__icon {
          display: none;
        }
      }
    }
    &.submit {
      padding: 10px 10px;
      width: fit-content;
      z-index: 102;
      // transform: scale(0.6);
      button {
        color: white;
        background-color: $clr2;
        padding: 5px;
        border-radius: 100rem;
        width: $headerHeight * 0.75;
        height: $headerHeight * 0.75;
        &:hover {
          background-color: $clr2;
        }
      }
    }
  }
  .el-date-editor .el-range__close-icon {
    background-color: snow;
  }
}
