.header-scroll-pixel {
  position: absolute;
  visibility: hidden;
  width: 20px;
  height: 20px;
  z-index: 1000;
  left: 0;
  top: 50px;
}
.main-header {
  &.anchor-in {
    .house-filter-container {
      top: $headerHeight * 0.15;
      height: $headerHeight * 0.7;
      position: absolute;
      box-shadow: none;
      transition: 150ms ease-in-out;
      max-width: 180px;
      @include for-normal-layout {
        max-width: 350px;
      }
      .filter-screen {
        display: flex;
      }
      .form-item.field {
        width: 0;
        opacity: 0;
      }
      .submit button {
        transition: 150ms ease-in-out;
        width: $headerHeight * 0.4;
        height: $headerHeight * 0.4;
        @include for-normal-layout {
          width: $headerHeight * 0.5;
          height: $headerHeight * 0.5;
        }
      }
      &:hover {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
      }
    }
  }
  &.filter-out {
    .house-filter-container {
      // height: 100vh;
      // max-width: 100vw;
      // border-radius: 0;
      // top: 0;
      // flex-direction: column;
      // margin: 0;
      // @include for-normal-layout {
        margin-right: auto;
        margin-left: auto;
        flex-direction: row;
        border-radius: 200px;
        top: $headerHeight;
        max-width: 800px;
        height: $headerHeight;
      // }
      .form-item.field {
        // flex-direction: row;
        // width: 100%;
        opacity: 1;
        @include for-normal-layout {
          flex-direction: column;
          width: 33%;
        }
      }
      .filter-screen {
        display: none;
      }
      .submit button {
        width: $headerHeight * 0.75;
        height: $headerHeight * 0.75;
      }
    }
  }
}

.house-filter-container {
  border: 1px solid rgba($color: #dadada, $alpha: 1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
  transition: 150ms ease-in-out;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  background-color: $clr1;
  border-radius: 200px;
  max-width: 90vw;
  top: $headerHeight;
  height: $headerHeight * 0.8;
  margin-right: auto;
  margin-left: auto;
  @include for-normal-layout {
    max-width: 800px;
    top: 150px;
    height: $headerHeight;
  }
  * {
    outline: none;
    border: none;
    // background-color: rgba($color: #000000, $alpha: 0);
  }
  .filter-screen {
    display: flex;
    padding: 0 0 0 1rem;
    @include for-normal-layout {
      display: none;
      padding: 0 0 0 2rem;
    }
    color: $clr5;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: $clr1;
    position: absolute;
    z-index: 101;
    border-radius: 200px;
    line-height: $headerHeight * 0.7;
  }
  .form-item {
    flex-direction: column;
    border-radius: 100px;
    transition: 200ms;
    &.field {
      padding: 10px 15px 10px 25px;
      width: 33%;
      &:hover,
      &:active,
      &:focus-within {
        box-shadow: 0px 0px 10px 0px rgba($color: #000000, $alpha: 0.2);
      }
      * {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        padding: 0;
        cursor: pointer;
      }
      label {
        color: $clr5;
        font-size: 0.75rem;
        font-weight: bold;
      }
      :not(label):not(.el-input__icon):not(.el-range-separator):not(.el-input__suffix) {
        height: 1.2rem;
        color: $clr3;
        font-size: 1rem;
        background-color: $clr1;
      }
      i {
        display: flex;
        align-items: center;
      }
      .date-picker {
        width: 100%;
        .el-range-input {
          width: 50%;
          text-align: left;
        }
        .el-range__icon {
          display: none;
        }
      }
    }
    &.submit {
      padding: 0 8px;
      z-index: 102;
      button {
        height: 100%;
        color: white;
        background-color: $clr2;
        border-radius: 100rem;
        width: $headerHeight * 0.6;
        height: $headerHeight * 0.6;
        @include for-normal-layout {
          width: $headerHeight * 0.75;
          height: $headerHeight * 0.75;
        }
        &:hover {
          background-color: $clr2;
        }
      }
    }
  }
  .el-date-editor .el-range__close-icon {
    background-color: snow;
  }
}
