.house-details-section {
    // display: flex;
    // flex-direction: column;
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    padding: 13px;

    @include for-normal-layout {
        padding: unset;
    }

    h3.house-name {
        margin-bottom: 10px;
        font-size: 1.4rem;
        color: $clr5;
    }

    .details-title {
        margin-bottom: 15px;
        color: $clr5;
    }

    .house-location {
        text-decoration: underline;
        color: $clr3;
    }

    .imgs-container {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        // border-radius: 30px;
        margin-bottom: 20px;
        height: 100%;

        .main-img img {
            object-fit: cover;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .secondary-imgs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;

            img {
                // width: 200px;
                object-fit: cover;

                &.secondary-img1 {
                    border-top-right-radius: 10px;
                }

                &.secondary-img3 {
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }

    .booking-modal-container {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid lightgray;
        margin-bottom: 20px;
        padding-bottom: 10px;

        @include for-normal-layout {
            flex-direction: row;
        }
    }

    .house-desc-section {
        width: 100%;
        display: grid;
        grid-template-columns: 9fr 1fr;
        text-align: left;
        border-bottom: 1px solid lightgray;
        padding-bottom: 5px;
        margin-bottom: 20px;

        @include for-normal-layout {
            width: 90%;
        }

        .house-main-desc {
            display: grid;
            grid-template-columns: 1fr;
            color: $clr5;

            .house-capacity {
                padding: 5px 0 30px;
                margin-bottom: 10px;
            }
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }

    .amenities-section {
        text-align: left;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
        margin-bottom: 15px;
        color: $clr5;

        @include for-normal-layout {
            border-bottom: unset;
            padding-bottom: unset;
        }


        h3 {
            margin-bottom: 25px;
        }

        ul {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 27px;

            @include for-normal-layout {
                width: 60%;
            }
        }
    }

    .add-review-btn {
        margin-bottom: 20px;
        background-color: white;
        color: $clr3;
        padding: 15px;
        border-radius: 8px;
        border-color: $clr2;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba(238, 238, 238, 0.705);
        }
    }

    .open-chat-btn {
        margin-bottom: 20px;
        background-color: white;
        color: $clr3;
        padding: 15px;
        border-radius: 8px;
        border-color: $clr2;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba(238, 238, 238, 0.705);
        }
    }

    .house-reviews-section {
        border-bottom: 1px solid lightgray;
        margin-bottom: 20px;
        color: $clr5;

        h3 {
            margin-bottom: 25px;
        }

        img {
            width: 56px;
            height: 56px;
            border-radius: 50%;
        }

        .reviews-rate-list {
            text-align: left;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-bottom: 20px;
            column-gap: 10px;



            .el-progress-bar__inner {
                // max-width: 300px;
                // display: inline;
                background-color: $clr2;
            }

            .el-progress__text {
                color: $clr5;
            }
        }

        ul {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 20px;

            @include for-normal-layout {
                grid-template-columns: 1fr 1fr;
                column-gap: 90px;
            }

            li {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

            .reviewer-container {
                display: flex;
                align-items: center;
                gap: 12px;

                .reviewer-name {
                    font-weight: bold;
                }

                .review-time {
                    font-size: 0.875rem;
                    color: $clr3;
                }
            }
        }

    }

    .googleMap-section {
        margin-bottom: 40px;

        h2 {
            margin-bottom: 15px;
            color: $clr5;
        }
    }
}