.house-chat {
    position: fixed;
    bottom: 0%;
    right: 0%;
    padding: 0 0.7rem 2rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 1000;
    background-color: $clr6 ;
    color: $clr5 ;
    height: 50vh;
    box-shadow: 0 0 3px 3px rgba($color: #808080, $alpha: 0.4);
    .chat-window {
        border: 0px solid $clr1;
        border-width: 1px 0;
    }
}