.join-host {
  color: $clr1;
  background-color: $clr5;
  padding: 2rem 0;
  grid-column: 1 / span 3 !important;
  .inner-container {
    gap: 20px;
    flex-direction: column;
    @include for-normal-layout {
      flex-direction: column;
    }
    @include for-normal-layout {
      flex-direction: row;
    }
    > * {
      flex: 1 1 50%;
    }
    img {
      object-fit: cover;
      border-radius: 10px;
    }
    grid-column: 2 / span 1 !important;
    .first-panel {
      h2 {
        font-size: 2.5rem;
      }
      .first-panel-btn {
        padding: 10px;
        cursor: pointer;
        background-color: $clr5;
        color: $clr1;
        border-color: $clr1;
        font-weight: bolder;
      }
      .first-panel-btn:hover {
        background-color: $clr3;
      }
      p {
        line-height: 1.2;
        font-size: 1rem;
      }
      p:last-of-type {
        flex: 1;
      }
    }
    .second-panel {
      display: grid;
      gap: 1rem;
      > {
        grid-column: span 1;
      }
      @include for-normal-layout {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        > :first-child {
          grid-column: span 1;
        }
        > :nth-child(2) {
          grid-column: span 1;
        }
        > :last-child {
          grid-column: span 2;
        }
      }

      @include for-wide-layout {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        > :first-child {
          grid-column: span 2;
        }
        > :nth-child(2) {
          grid-column: span 1;
          height: 100%;
        }
        > :last-child {
          grid-column: 1/-1;
        }
        // position: relative;
        // display: flex;
        // .screen {
        //   position: absolute;
        //   width: 100%;
        //   height: 100%;
        //   border-radius: 10px;
        //   background: linear-gradient(
        //     rgba($color: #000, $alpha: 0.1),
        //     rgba($color: #000, $alpha: 0.1),
        //     rgba($color: #000, $alpha: 0.1),
        //     rgba($color: #000, $alpha: 0.8),
        //     rgba($color: #000, $alpha: 0.8)
        //   );
        // }
        // img {
        //   position: absolute;
        //   width: 100%;
        //   height: 100%;
        // }
        // .text-over-image {
        //   position: absolute;
        //   padding: 10px;
        //   color: $clr1;
        //   bottom: 0;
        //   font-size: 0.9rem;
        // }
      }
    }
  }
}
