.join-host {
  color: $clr1;
  background-color: $clr5;
  padding: 2rem 0;
  grid-column: 1 / span 3 !important;

  .inner-container {
    gap: 20px;
    flex-direction: column;

    @include for-normal-layout {
      flex-direction: row;
    }

    >* {
      flex: 1 1 50%;
      padding: $mobilePadding;

      @include for-normal-layout {
        padding: 0;
      }
    }

    img {
      object-fit: cover;
      border-radius: 10px;
    }

    grid-column: 2 / span 1 !important;

    .first-panel {
      h2 {
        font-size: 2.5rem;
      }

      .first-panel-btn {
        padding: 10px;
        cursor: pointer;
        background-color: $clr5;
        color: $clr1;
        border-color: $clr1;
        font-weight: bolder;
        align-self: flex-end;
      }

      .first-panel-btn:hover {
        background-color: $clr3;
      }

      p {
        line-height: 1.2;
        font-size: 1rem;
      }

      p:last-of-type {
        flex: 1;
      }
    }

    .second-panel {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      height: 350px;

      &::-webkit-scrollbar {
        display: none;
      }

      >* {
        flex: 0 0 auto;

        &:not(:last-child) {
          margin-inline-end: 20px;
        }
      }

      @include for-normal-layout {
        height: unset;
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 190px 190px;

        >* {
          height: 100%;
          width: 100%;
        }

        > :first-child {
          grid-column: 1 / span 1;
          grid-row: 1 / span 1;
        }

        > :nth-child(2) {
          grid-column: 2 / span 1;
          grid-row: 1 / span 1;
        }

        > :last-child {
          grid-column: span 2;
          grid-column: 1 / span 2;
          grid-row: 2 / span 1;
        }
      }
    }
  }
}