.user-profile-section {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  gap: 70px;


  h2 {
    margin-top: 70px;
  }

  .user-card {
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 308px;
    height: 480px;
    padding: 20px 20px 40px;

    img {
      height: 128px;
      width: 128px;
      border-radius: 50%;
      object-fit: cover;
    }

    .update-img {
      text-decoration: underline;
      font-size: 0.825rem;
      margin-bottom: 20px;
      cursor: pointer;
    }

    .main-card-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      text-align: left;
      padding-bottom: 25px;
      border-bottom: 1px solid lightgray;

      h3 {
        width: 100%;
      }

      button {
        padding: 15px 40px;
        border-radius: 10px;
      }
    }
  }

  .user-main-container {
    text-align: left;

    .add-house-btn {
      margin-top: 20px;
      background-color: $clr4;
      border-radius: 5px;
      &:hover {
        background-color: $clr1;
      }
    }
    li {
      display: flex;
      flex-direction: column;

      &:first-child {
        border-top: 1px solid lightgray;
        margin-top: 20px;
      }

      &:last-child {
        margin-bottom: 20px;
      } 
    }
        button {
         margin-bottom: 10px;
         &:hover {
           background-color: $clr1;
         }
        }

    .user-houses-container {
      flex-direction: column;
      justify-content: space-between;
      border-bottom: 1px solid lightgray;
      padding: 15px 0;
      
      .user-houses-txt{
        display: flex;
        justify-content: space-between;
        align-items: center;
      .house-txt {
        font-weight: bolder;
      }
      img {
        height: 90px;
        width: 180px;
        border-radius: 10px;
        margin-left: 10px;
      }

      .delete-house-btn {
        margin-left: 7px;
        border-radius: 5px;
        background-color: $clr1;
        &:hover {
          background-color: $clr4;
        }
      }
    }
    }
  }
}
.user-houses-booking{
  h2 {
    margin-top: 10px;
    padding-bottom: 25px;
  }
.booking-info, th, td {
  border: 0.5px outset rgb(42, 42, 42);
  border-collapse: collapse;
  th, td {
    padding: 5px;
    // border-bottom: 1px solid rgb(42, 42, 42);
    // border-top: 1px solid rgb(42, 42, 42);
  }
  th {
    background-color: $clr4;
  }
}
}