.user-form {
    width: 30%;
    display: inline-block;
    margin-top: 50px;
}

.el-checkbox {
    color: aliceblue;
}

.el-form-item {
    .el-button {
        background-color: rgb(70, 200, 200);
    border-color:rgb(70, 200, 200);
    }
}